/* Importing Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@300;400&display=swap');


/* ========== BASE ============ */

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --our-black:#222;
    --our-red:#ff5959;
    --our-white:#ededed;

    --large-font-size:1.8rem;
    --normal-font-size:1.2rem;
    --small-font-size:1rem;

    --border-radius:0.25rem;
}

body{
    font-family: 'Dosis', sans-serif;
    background-color: var(--our-black);
    color:var(--our-white);
    font-size: var(--normal-font-size);
    text-transform: capitalize;
}


.container{
    width:100%;
    height:100vh;
    overflow-x: hidden;
}

/* ============= MAIN ================ */

.title{
    font-size: var(--large-font-size);
    text-align: center;
    padding:2rem;
}

.title span{
    color:var(--our-red);   
    font-weight: 700;
}

.lorem__form .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
}


.lorem__form .wrapper input{
    outline: none;
    border:none;
    height:1.25rem;
    width:3rem;
    padding:0.25rem;
    margin-left:0.5rem;
    border-radius: var(--border-radius);
}

/* ============= Button ============== */

.button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0 ;
}

.lorem__form .btn{
    background-color: transparent;
    border:2px solid var(--our-red);
    color:var(--our-white);
    padding:0.25rem 0.5rem;
    border-radius: var(--border-radius);
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-size: var(--small-font-size);
    text-transform: capitalize;
}

.lorem__form .btn:hover{
    background-color: var(--our-red);
    color:var(--our-white);
}

.random__text .result__text{
    padding-left:clamp(1rem,14%,20rem);
    padding-right:clamp(1rem,14%,20rem);
    text-align: center;
    font-size: var(--small-font-size);
    margin-bottom: 1.5rem;
}

@media screen and (min-width:415px){
    :root{
        --large-font-size:2.4rem;
        --normal-font-size:1.5rem;
        --small-font-size:1.1rem;
    } 
}



